<% if @customer %>
<div class="well results-block">
  <strong>First Name: </strong> <%= @customer.fname %>
  <strong>Last Name: </strong> <%= @customer.lname %>
  <strong>Phone: </strong> <%= @customer.phone %>
</div>
<% end %>