<!--Error messages of user-->
<% if @user.errors.any? %>

<div class="row mt-3 mb-0">
	<div class="col-md-8 offset-md-2">
		<div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert">&#215;</a>
			<h5 class="card-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved</h5>
    		<p class="card-text">
    			<ul>
    				<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
    			</ul>
    		</p>
        </div>
    </div>
</div>

<% end %>