
@import "font-awesome";
@import "bootstrap";

.blue-color {
	color: #00008b;
}

.blue-bg {
	background-color: #C2DFFF;
}

.red-color {
  color: red;
}

.squareItem {
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 35px 10px 20px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h1 {
	margin-bottom: 1px;
	font-weight: 450;
	color: #1589FF;
}

.squareContent h3 {
	font-weight: 400;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

.clickable {
	cursor: pointer;
}

body {
  overflow-x: hidden;
}


.aggregated_orders_new .container {
	width : 100% !important;
	padding-right: 0px !important;
	margin-right : 70px !important;
}

#sidebar-wrapper {
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}


#sidebar-wrapper {
  width: 30rem;
}

#page-content-wrapper {
  min-width: 100vw;
}


@media (min-width: 500px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}