
@import "font-awesome";
@import "bootstrap";

.blue-color {
	color: #00008b;
}

.blue-bg {
	background-color: #C2DFFF;
}

.section {
	padding: 100px 0;
}

.squareItem {
	margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #1589FF;
}

.squareContent h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}